<div class="flex flex-col md:flex-row h-screen bg-gray-100 p-4">
  <!-- Left Pane (Field Groups) -->
  <div class="w-full md:w-3/12 p-4">
    <div class="bg-white shadow-lg rounded-lg p-4 h-full">
      <app-left-pane></app-left-pane>
    </div>
  </div>

  <!-- Middle Pane (Form Builder & Renderer) -->
  <div class="w-full md:w-6/12 p-4">
    <app-middle-pane></app-middle-pane>
  </div>

  <!-- Right Pane (Form Elements) -->
  <div class="w-full md:w-3/12 p-4">
    <div class="bg-white shadow-lg rounded-lg p-4 h-full">
      <app-right-pane></app-right-pane>
    </div>
  </div>
</div>
