<div class="h-screen w-full bg-gray-200 p-6 flex items-center justify-center">
  <div class="grid grid-cols-12 gap-4 w-full h-full max-w-[100vw]">
    <!-- Left Pane (3 columns) -->
    <div class="col-span-12 md:col-span-3 bg-white shadow-lg rounded-lg p-4">
      <app-left-pane></app-left-pane>
    </div>

    <!-- Middle Pane (6 columns) -->
    <div class="col-span-12 md:col-span-6 p-4">
      <app-middle-pane></app-middle-pane>
    </div>

    <!-- Right Pane (3 columns) -->
    <div class="col-span-12 md:col-span-3 bg-white shadow-lg rounded-lg p-4">
      <app-right-pane></app-right-pane>
    </div>
  </div>
</div>
